body{
    background-color: rgb(245, 245, 245);
}

.MuiFormControl-root {
    background-color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}