
.gastos-month-select{
    margin-top: 20px;

    .MuiFormControl-root {
        background-color: white;
    }
}

.gastos-container{
    margin-top: 20px;
    padding-bottom: 100px;

    .gastos-charts-wrapper{
        padding-right: 40px;

    }
}

.gastos-barchart-wrapper{
    margin-top: 30px;
}

.gastos-list-wrapper{
    height: fit-content
}

